.averageSession {
    background-color: red !important;
    color: black;
    flex: 1 1 auto;
}

.custom-tooltip--average {
    background-color: white;
    padding: 1px 7px;
    font-size: 10px;
    font-weight: 500;
    line-height: 24px;
}